# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\kiarashjamshidi\PycharmProjects\test\Exploiting-Video-Games-to-Test-AV\integrated with DeepJanus\Tara Version DJ\DeepJanus\DeepJanus-BNG\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
